# Окружение (самое тяжелое и ненужное на Гите)
venv/
ENV/
env/

# Секреты (САМОЕ ВАЖНОЕ)
.env

# Мусор PyCharm и системы
.idea/
.vscode/
.DS_Store

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Данные (если у тебя есть тяжелые CSV или логи)
*.log
data/*.csv

# Игнорируем сырые и обработанные данные
src/data/input/
src/data/output/
src/data/processed/