# === Окружение ===
.venv/
ENV/
env/

# === Секреты (САМОЕ ВАЖНОЕ) ===
.env

# === Мусор PyCharm и системы ===
.idea/
.vscode/
.DS_Store
Thumbs.db

# === Кэш Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# === Дебаг, логи и скриншоты ===
*.log
debug_screenshots/

# === Данные и базы ===
*.csv
data/input/
data/output/
data/processed/
*.sqlite3
*.db

